@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h2>create new users with Ajax</h2>
    <hr />
    <a asp-action="CreateUser" asp-controller="Home" class="btn btn-secondary">Add New User</a>
</div>

