@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Your password is reset. Please <a asp-action="Login" aps-asp-controller="Account">Click to login in here</a>
</p>
