<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8ac08986-eee1-4115-8efe-73c53a4e958c/resourceGroups/rsaecrsapi/providers/Microsoft.Web/sites/rsaecrsapi</ResourceId>
    <ResourceGroup>rsaecrsapi</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://rsaecrsapi-hcfsf4cbd0dubsce.eastus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c07f08ff-d8b5-4b4e-80d4-d8ba53a31da7</ProjectGuid>
    <MSDeployServiceURL>rsaecrsapi-hcfsf4cbd0dubsce.scm.eastus-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>rsaecrsapi</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>Framework-dependent</SelfContained>
    <RuntimeIdentifier>Portable</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAs9mXSejG7k+ZH43JTD3rkwAAAAACAAAAAAAQZgAAAAEAACAAAABoW1zlABpPJHM8ahI1fNMVvv/1iOUapMFfL4Kpt/Ba4AAAAAAOgAAAAAIAACAAAABj1lTASgNLfgZjVxMdrvSj6iAsF2lutk1wQKypxGlatyAAAABrhzMawLtL6Gm0XK06iitGe9U6RsrY8GQI0TY5bC/W6kAAAAA7pNobpDUOFQL8pejBg81QOoN1Jbe889pRqvo/oe7WNCHexGId0GOW1v/5ekmLKhBTB4Gs13dtcq7CV0BlmGgx</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>